{% comment %}
  product-price.liquid - A snippet for displaying product prices
  
  Usage:
  {% render 'product-price', price: product.price, compare_at_price: product.compare_at_price %}
{% endcomment %}

<div class="mb-6">
  <div id="variant-price" class="text-2xl font-semibold text-gray-900">
    {{ price | money }}
  </div>
  
  {% if compare_at_price > price %}
    <div id="compare-price" class="text-lg text-gray-500 line-through">
      {{ compare_at_price | money }}
    </div>
  {% else %}
    <div id="compare-price" class="text-lg text-gray-500 line-through hidden"></div>
  {% endif %}
</div>